<div class="jumbotron jumbotron-fluid bg-dark text-white mt-5 animated fadeInDown">
    <div class="container">
        <h1 class="display-4">Home</h1>
        <p class="lead text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel molestias ullam temporibus sit, repellat dolorem iste eos pariatur ipsa hic, nesciunt neque veniam nemo nobis. Non neque vel nisi culpa?</p>
        <hr class="my-4 text-white">
        <button (click)="salir()" class="btn btn-danger float-right">Cerrar sesión</button>
    </div>
</div>